# .env.development

# Application Configuration
ENABLE_FILE_LOGGING=true
LOG_LEVEL='info'
LOG_MAX_SIZE='20m'
LOG_MAX_FILES='14d'
GRAPHQL_ENDPOINT='http://localhost:4000/graphql'
#GRAPHQL_ENDPOINT='http://host.docker.internal:4000/graphql'
DB_DATA_DIR='src/data'
PUBLIC_CSV_FILE_UPLOAD_LIMIT=50
PUBLIC_VIDEO_BASE_URL=/idle-videos/
PUBLIC_BASE_URL='http://localhost:5173'

#  Capella Configuration
API_BASE_URL='https://cloudapi.cloud.couchbase.com/v4'
ORG_ID='9d75c6a4-2ec3-4a6c-8574-b3842eeaa4b5'
PROJECT_ID='1c249d82-f799-4b08-a8c0-18f7088e5049'
CLUSTER_ID='2091944c-177f-450e-9266-9761679ebc73'
BUCKET_ID='ZGVmYXVsdA=='
AUTH_TOKEN='TWQ2dGd3aU9BTW9ZcTJmRjFBeG5ISWRHdGR5bzlFdTU6eUVjUWwzelZzWERYQEc3RGhNMXROV01tanVncXMzd0NDWVVUS0lCZFNyUmhTRmZHamx1d1ZoVUNuTlVtdUxGMA=='
COUCHBASE_URL='couchbases://cb.xalojnoucmyupbpb.cloud.couchbase.com'
COUCHBASE_USERNAME='S_APP_AI_SERVICES'
COUCHBASE_PASSWORD='5KzVp9vkCrc3dkt6!'
COUCHBASE_BUCKET='default'
COUCHBASE_SCOPE='_default'
COUCHBASE_COLLECTION='_default'
COUCHBASE_VECTOR_INDEX='default._default.ragpdfindex'

# OpenTelemetry Configuration
ENABLE_OPENTELEMETRY=true
SERVICE_NAME='Capella Document Search'
SERVICE_VERSION='2.0.2'
DEPLOYMENT_ENVIRONMENT='development'
TRACES_ENDPOINT='https://otel-http-traces.siobytes.com'
METRICS_ENDPOINT='https://otel-http-metrics.siobytes.com'
LOGS_ENDPOINT='https://otel-http-logs.siobytes.com'
METRIC_READER_INTERVAL=60000
CONSOLE_METRIC_READER_INTERVAL=60000
SUMMARY_LOG_INTERVAL=300000

# OpenReplay Configuration
PUBLIC_OPENREPLAY_PROJECT_KEY="XULAx3Gt1QjSuNsrm586"
PUBLIC_OPENREPLAY_INGEST_POINT="https://api.openreplay.com/ingest"

# Elastic Configuration
PUBLIC_ELASTIC_APM_SERVICE_NAME="Capella Document Search"
PUBLIC_ELASTIC_APM_SERVER_URL="https://apm.siobytes.com"
PUBLIC_ELASTIC_APM_SERVICE_VERSION="2.0.2"
PUBLIC_ELASTIC_APM_ENVIRONMENT="development"

# RAG Configuration
RAG_PIPELINE='PINECONE'
# RAG_PIPELINE='CAPELLA'

PINECONE_API_KEY='pcsk_3LKJP_FNw6XFkMD7xuYToKFYSLuj6yQuncBD58njiX2F9HAZJd35FHAMHMWhUWcGxCUme'
PINECONE_INDEX_NAME='platform-engineering-rag'
PINECONE_NAMESPACE='capella-document-search'

# Azure Configuration (Development)
PUBLIC_AZURE_CLIENT_ID='195bd92f-f33d-46c3-b911-6ed5a2addf41'
PUBLIC_AZURE_TENANT_ID='17ba985a-97bf-44fb-9b08-3a5ccc959f37'
PUBLIC_AZURE_REDIRECT_URI='http://localhost:5173/login'

# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your-langsmith-api-key"
LANGSMITH_PROJECT="capella-doc-search-pinecone"

# GrowthBook Configuration
PUBLIC_GROWTHBOOK_API_HOST="https://cdn.growthbook.io"
PUBLIC_GROWTHBOOK_CLIENT_KEY="sdk-FV3h5gU32IiG2L6"
PUBLIC_GROWTHBOOK_ENCRYPTION_KEY="1234"

